<h1>SupplierAccount#index</h1>
<p>Find me in app/views/supplier_account/index.html.erb</p>


<table border="1px">
<tr>
    <th>Supplier Name</th>
    <th>Supplier Id</th>
</tr>
<% @suppliers.each do |supp| %>
<tr>
    <td><%= supp.name %></td>
   <td><%= supp.id %></td>
</tr>
<%end %>
</table>

<br><br>

<table border="1px">
<tr>
    <th>Account Id</th>
    <th>Supplier Id</th>
    <th>Account Number</th>
</tr>
<% @accounts.each do |acc| %>
<tr>
    <td><%= acc.id %></td>
   <td><%= acc.supplier_id %></td>
   <td><%= acc.account_number %></td>
</tr>
<%end %>
</table>
